* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.appTitle { 
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 25px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 5px;
}

#gridContainer { 
    display: flex;
    width: 50%;
    aspect-ratio: 1/1;
    margin: auto;
    flex-wrap: wrap;
    padding: 0px;
    gap: 0px;
    box-shadow: 1px 1px 10px 10px gainsboro;
}
#controlPanel{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

#resetColor{
    width: 100px;
    height: 30px;
    font-size: 18px;
}

#userColorChoice { 
    width: 100px;
    height: 30px;
}

#pixelSize { 
    width: 100px;
}